<hr>
<footer>
  <small>Regresar al <a href="/"><b>Inicio</b></a></small>
  <hr>
  <small>Sitio hecho por <a href="https://leeondechino.itch.io/" target="_blank"><b><i>Crave Software</i></b></a></small>
</footer>