---
layout: layout-page.njk
title: Pagina de acerca
description: Página con datos del autor e información sobre el proyecto
---

<h2>{{title}}</h2>

<h3><strong>Nombre: </strong>Leonardo Ramírez Gutiérrez</h3>
<br>
<h3><strong>Proyecto: </strong>Desarrollo de una Wiki</h3>
<br>
<h3><strong>Materia: </strong>Programación en Lenguajes Interpretados</h3>
<br>
<h3><strong>Profesor: </strong>Jonathan MirCha</h3>