---
layout: layout-page.njk
title: Página de acerca
description: Página con datos del autor e información sobre el proyecto
---

<h2 class="jaro-subtitle">{{title}}</h2>

<hr>

  <p class="acerca-text" style="text-center">
    Nombre: Leonardo Ramírez Gutiérrez
    <br>
    Proyecto: Desarrollo de una Wiki
    <br>
    Materia: Programación en Lenguajes Interpretados
    <br>
    Profesor: Jonathan MirCha
  </p>
