---
layout: layout-page.njk
title: Página de acerca
description: Página con datos del autor e información sobre el proyecto
---

<h2>{{title}}</h2>

<hr>

<h3 style="text-align: left;"><strong>Nombre: </strong>Leonardo Ramírez Gutiérrez</h3>
<br>
<h3 style="text-align: left;"><strong>Proyecto: </strong>Desarrollo de una Wiki</h3>
<br>
<h3 style="text-align: left;"><strong>Materia: </strong>Programación en Lenguajes Interpretados</h3>
<br>
<h3 style="text-align: left;"><strong>Profesor: </strong>Jonathan MirCha</h3>