---
layout: layout-bands-page.njk
title: Lista de Bandas
description: Lista de las bandas
---
<h2>{{title}}</h2>

<ul id="articles-list">
  <li data-title="AC/DC"><a href="/acdc">AC/DC</a></li>
  <li data-title="Aeorsmith"><a href="/aerosmith">Aerosmith</a></li>
  <li data-title="Avenged Sevenfold"><a href="/avenged-sevenfold">Avenged Sevenfold</a></li>
  <li data-title="Black Sabbath"><a href="/black-sabbath">Black Sabbath</a></li>
  <li data-title="Eagles"><a href="/eagles">Eagles</a></li>
  <li data-title="Guns N' Roses"><a href="/guns-and-roses">Guns N' Roses</a></li>
  <li data-title="Iron Maiden"><a href="/iron-maiden">Iron Maiden</a></li>
  <li data-title="Journey"><a href="/journey">Journey</a></li>
  <li data-title="Kiss"><a href="/kiss">KISS</a></li>
  <li data-title="Linkin Park"><a href="/linkin-park">Linkin Park</a></li>
  <li data-title="Metallica"><a href="/metallica">Metallica</a></li>
  <li data-title="Nirvana"><a href="/nirvana">Nirvana</a></li>
  <li data-title="Oasis"><a href="/oasis">Oasis</a></li>
  <li data-title="Pink Floyd"><a href="/pink-floyd">Pink Floyd</a></li>
  <li data-title="Queen"><a href="/queen">Queen</a></li>
  <li data-title="Red Hot Chili Peppers"><a href="/red-hot-chili-peppers">Red Hot Chili Peppers</a></li>
  <li data-title="Slipknot"><a href="/slipknot">Slipknot</a></li>
  <li data-title="System Of A Down"><a href="/system-of-a-down">System Of A Down</a></li>
  <li data-title="The Beatles"><a href="/the-beatles">The Beatles</a></li>
  <li data-title="The Rolling Stones"><a href="/the-rolling-stones">The Rolling Stones</a></li>
</ul>
