---
layout: layout-page.njk
title: Bandas
description: Lista de bandas
---


<h2>{{title}}</h2>

<ul>
  <li><a href="/acdc">AC/DC</a></li>
  <li><a href="/aerosmith">Aerosmith</a></li>
  <li><a href="/avenged-sevenfold">Avenged Sevenfold</a></li>
  <li><a href="/black-sabbath">Black Sabbath</a></li>
  <li><a href="/eagles">Eagles</a></li>
  <li><a href="/guns-and-roses">Guns N' Roses</a></li>
  <li><a href="/iron-maiden">Iron Maiden</a></li>
  <li><a href="/journey">Journey</a></li>
  <li><a href="/kiss">KISS</a></li>
  <li><a href="/led-zeppelin">Led Zeppelin</a></li>
  <li><a href="/metallica">Metallica</a></li>
  <li><a href="/nirvana">Nirvana</a></li>
  <li><a href="/oasis">Oasis</a></li>
  <li><a href="/pink-floyd">Pink Floyd</a></li>
  <li><a href="/queen">Queen</a></li>
  <li><a href="/red-hot-chili-peppers">Red Hot Chili Peppers</a></li>
  <li><a href="/slipknot">Slipknot</a></li>
  <li><a href="/system-of-a-down">System Of A Down</a></li>
  <li><a href="/the-beatles">The Beatles</a></li>
  <li><a href="/the-rolling-stones">The Rolling Stones</a></li>
</ul>