---
layout: layout-page.njk
title: Inicio
description: En este sitio hablaré sobre las legendarias bandas de Rock y Metal en inglés que han dejado una huella imborrable en la historia de la música.
---


<h2>{{title}}</h2>

<p>En este sitio hablaré sobre las legendarias bandas de Rock y Metal en inglés que han dejado una huella imborrable en la historia de la música.</p>